.icon {
    color: 7C7A7A;

    padding: 10px;
    min-width: 0px;
    text-align: center;
}

.test {
    color: red;
}
.input_icons {
    width: 100%;
    margin-bottom: 10px;
}

.input_field {
    border: none;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.form {
    display: inline-block;
}

.ourButton {
    background-color: #4EABEA;
    border-color: #4EABEA;

}

.image_wrapper {
    margin-left: 50px;
    margin-top: -28px;
}

.right {
    margin-left: 3vw;
}

.modal {
    background-color: white;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    z-index: 200;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.inputHeader {
    display: inline-block;
    width: 87%;
    margin-left: 5px;
    color: #7C7A7A;
}

.inputLabel {
    float: left;
    margin-left: 15px;

}
.container {
    text-align: center;
    margin: auto;
    /*background-color: rgb(39, 159, 119); */
}
.form {
    margin-bottom: 25px;
    height: 55px;
    font-size: 18px;
    color: #7C7A7A;
}
.submitButton {
    background: #0DCAF0;
    border-radius: 23px;
    border-color:#0DCAF0;
    font-size: 20px;
    height: 45px;
    width: 30%;
    margin-left: 130px;
}

.icon {
    height: 20px;
    float: left;
    margin-top: 2px;
    color: #7C7A7A;
}
