.custom_btn {
    background-color: #0DCAF0 !important;
    border-radius: 23px;
    border-color:#0DCAF0 !important;
    font-size: 22px;
    height: 55px;
    width: 300px !important;
    color: #ffffff !important;
}
