.head {
    font-weight: bold;
}

.inputHeader {
    display: inline-block;
    width: 87%;
    margin-left: 5px;
}

.icon {
    height: 20px;
    float: left;
    margin-top: 2px;
    color: #7C7A7A;

}

.inputLabel {
    float: left;
    margin-left: 15px;

}

.container {
    text-align: center;
    width: 30%;
    margin: auto;
    /*background-color: rgb(39, 159, 119); */
}

.form {
    margin-bottom: 25px;
    height: 55px;
    font-size: 18px;
}

.submitButton {
    background: #0DCAF0;
    border-radius: 30px;
    border-color:#0DCAF0;
    font-size: 22px;
    height: 55px;
    width: 87%;
}

.submitButton :hover{
    background-color: #127d92;
}
