.head {
    font-weight: bold;
}

.inputHeader {
    display: inline-block;
    width: 87%;
    margin-left: 5px;
    color: #7C7A7A;
}

.icon {
    height: 20px;
    float: left;
    margin-top: 2px;
    color: #7C7A7A;
}

.inputLabel {
    float: left;
    margin-left: 15px;

}

.container {
    text-align: center;
    width: 30%;
    margin: auto;
    /*background-color: rgb(39, 159, 119); */
}

.form {
    margin-bottom: 25px;
    height: 55px;
    font-size: 18px;
    color: #7C7A7A;
}

.submitButton {
    background: #0DCAF0;
    border-radius: 23px;
    border-color:#0DCAF0;
    font-size: 22px;
    height: 55px;
    width: 87%;
}

.submitButton:hover {
    background-color:  #4EABEA;
    border-color:#4EABEA;
}

.newAccount {   
    margin-top: 3px;
    margin-right: 25px;
    float:left;


    margin-bottom: 125px;
}
