.profilePicture {
    
    margin-left:800px;
    margin-top: 300px;
    width: 100px;
    height: 50px;
    background-color: aquamarine;
}

.dropDown {
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 64px;
    right: 10vw;
    margin: auto;
    width: 300px;
    height: 350px;
    z-index: 200000;
    border-color:black; 
    text-align: center;
    background-color: #fff;
}
.drop{
    
}
.userInfo {
    margin-top: 5px;
    margin-bottom: 45px;
    text-align: center;
}

.imageContainer {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.manageLine {
    display: inline-block;
    width: 87%;
    padding: 3px; 
    color: #7C7A7A;
    /* background-color: #958c8c;   */
}

.manageLine:hover {
    cursor: pointer;
    background-color: #4eaceace;
    border-radius: 3px;
    color: #fff;
}

.icon {
    height: 20px;
    float: left;
    margin-top: 2px;
    color: #7C7A7A;
}

.icon:hover {
    color:#fff;
}


.content {
    float: left;
    margin-left: 15px;
}

.logout {
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.overlay {
    position: absolute;
    width: 100vw;
    height:100vh;
    right:0px;
}